@font-face {
    font-family: lekton;
    src: url(../Lekton/Lekton-Bold.ttf);
}
.first_section{
    width: 100%;
    background-color: rgb(77, 115, 90);
    >.row{
        display: flex;
        justify-content: center;
        >header{
            width: 100%;
            min-height: 60px;
            // background-color: aqua;
            display: flex;
            justify-content: center;
            >.row{
                width: 90%;
                background-color: black;
                height: 100%;
                >strong{
                    margin-top: 20px;
                    padding-left: 30px;
                    color: rgb(220, 174, 20);
                    width: 20%;
                    // border: 1px solid red;
                    font-size: 32px;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: left;
                    text-transform: capitalize;
                    font-family: 'Pacifico', cursive;
                }
                >nav{
                    margin-top: 20px;
                    width: 60%;
                    // border: 1px solid black;
                    // background-color: yellow;
                    display: flex;
                    height: 100%;
                    >ul{
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                        >li{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            a{
                                align-items: center;
                                display: flex;
                                height: 80%;
                                width: 100%;
                                margin: 0 20px;
                                // background-color: cadetblue;
                                text-transform: uppercase;
                                font-family: lekton;
                                font-size: 20px;
                                color: rgb(255, 255, 255);
                                position: relative;
                                transition: .4s;
                                &:hover{
                                    font-size: 23px;
                                    color: rgb(220, 174, 20);
                                }
                            }
                        }
                    }
                }
                >div{
                    margin-top: 20px;
                    // z-index: 33;
                    width: 20%;
                    // border: 1px solid red;
                    // background-color: red;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: right;
                    padding-right: 20px;
                    >a{
                        >i{
                            font-size: 28px;
                            margin: 0 10px;
                            font-weight: bolder;
                            transition: .4s;
                            color: rgb(220, 174, 20);
                            &:hover{
                                font-size: 30px;
                                color: rgb(77, 115, 90);
                            }
                        }
                    }
                }
            }
        }
        >div:nth-of-type(1){
            width: 90%;
            background-color: black;
            min-height: 40vh;
            display: flex;
            align-items: center;
            >.row{
                width: 100%;
                justify-content: center;
                align-items: center;
                >h1{
                    width: 100%;
                    // background-color: red;
                    text-align: center;
                    font-size: 70px;
                    text-transform: capitalize;
                    color: rgb(77, 115, 90);
                    // font-family: 'Kalam', cursive;
                    // font-family: 'Pacifico', cursive;
                    font-family: 'Satisfy', cursive;
                }
                >h3{
                    color: rgb(77, 115, 90);
                    text-align: center;
                    width: 100%;
                    // background-color: yellow;
                    font-size: 35px;
                    text-transform: capitalize;
                    // font-family: 'Kalam', cursive;
                    // font-family: 'Pacifico', cursive;
                    font-family: 'Satisfy', cursive;
                }
            }
        }
        >div:nth-of-type(2){
            min-height: 8vh;
            width: 90%;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &::after{
                content: "";
                display: flex;
                width: 85%;
                height: 2px;
                background-color: rgb(220, 174, 20);
                position: absolute;
                top: 100%;
                left: 8%;
            }
            >nav{
                width: 100%;
                >ul{
                    width: 100%;
                    display: flex;
                    >li{
                        width: 100%;
                        display: flex;
                        >a{
                            display: flex;
                            justify-content: center;
                            width: 100%;
                            margin: 0 10px;
                            text-transform: capitalize;
                            font-size: 20px;
                            font-family: lekton;
                            color: rgb(255, 255, 255);
                            font-weight: bolder;
                            // background-color: hotpink;
                            transition: .4s;
                            &:hover{
                                color: rgb(220, 174, 20);
                            }
                        }
                    }
                }
            }
        }
        >div:nth-of-type(3){
            width: 90%;
            background-color: black;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            >.grid{
                width: 90%;
                min-height: 70vh;
                // border: 2px solid yellow;
                display: grid;
                grid-template-columns: repeat(11 ,1fr);
                grid-template-rows: repeat(0, 1fr);
                gap: 30px;
                margin: 45px 0;
                >div{
                    outline: 4px solid rgb(77, 115, 90);
                    // background-color: rgb(12, 45, 65);
                    &:nth-of-type(1){
                        grid-area: 1/ 1/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(2){
                        grid-area: 1/ 4/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(3){
                        grid-area: 1/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(4){
                        grid-area: 2/ 1/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(5){
                        grid-area: 2/ 6/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(6){
                        grid-area: 2/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(7){
                        grid-area: 3/ 1/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(8){
                        grid-area: 3/ 4/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(9){
                        grid-area: 3/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(10){
                        grid-area: 4/ 1/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(11){
                        grid-area: 4/ 5/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(12){
                        grid-area: 4/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(13){
                        grid-area: 5/ 1/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(14){
                        grid-area: 5/ 4/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(15){
                        grid-area: 5/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(16){
                        grid-area: 6/ 1/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(17){
                        grid-area: 6/ 5/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(18){
                        grid-area: 6/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(19){
                        grid-area: 7/ 1/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(20){
                        grid-area: 7/ 4/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: left;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(21){
                        grid-area: 7/ 8/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(22){
                        grid-area: 8/ 1/ span 1/ span 4;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(23){  
                        grid-area: 8/ 5/ span 1/ span 7;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(24){
                        grid-area: 9/ 1/ span 1/ span 8;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(25){
                        grid-area: 9/ 9/ span 1/ span 3;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(26){
                        grid-area: 10/ 1/ span 1/ span 6;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(27){
                        grid-area: 10/ 7/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(28){
                        grid-area: 11/ 1/ span 1/ span 5;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                    &:nth-of-type(29){   
                        grid-area: 11/ 6/ span 1/ span 6;
                        position: relative;
                        &:hover>.dark{
                            opacity: 1;
                        }
                        >img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: right;
                        }
                        >.dark{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(0, 0, 0, 0.454);
                            opacity: 0;
                            transition: .4s;
                            display: flex;
                            align-items: center;
                            >.caption{
                                display: flex;
                                width: 100%;
                                color: white;
                                font-size: 20px;
                                font-family: lekton;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        >div:nth-of-type(4){
            width: 90%;
            background-color: black;
            display: flex;
            justify-content: center;
            min-height: 40vh;
            border-top: 1px solid rgb(220, 174, 20);
            >.row{
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                >figure{
                    width: 200px;
                    height: 200px;
                    // background-color: #f4d2a7;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                >.row:nth-of-type(1){
                    width: 100%;
                    justify-content: center;
                    // background-color: rebeccapurple;
                    // padding-left: 20px;
                    margin-bottom: 10px;
                    >a{
                        >i{
                            font-size: 25px;
                            margin: 0 20px;
                            color: rgb(77, 115, 90);
                            transition: .2s;
                            &:hover{
                                color: #5D0E07;
                            }
                        }
                    }
                }
                >.row:nth-of-type(2){
                    width: 100%;
                    justify-content: center;
                    >a{
                        // margin-top: 20px;
                        display: flex;
                        width: 300px;
                        height: 40px;
                        background-color: rgb(77, 115, 90);
                        border-radius: 50px;
                        flex-wrap: wrap;
                        &:hover>span:nth-of-type(1){
                            opacity: 0;
                            margin-top: 0;
                        }
                        &:hover>span:nth-of-type(2){
                            opacity: 1;
                            margin-top: -20px;
                        }
                        &:hover{
                            background-color: #5D0E07;
                        }
                        >span{
                            display: flex;
                            width: 100%;
                            height: 50%;
                            justify-content: center;
                            align-items: center;
                            color: rgb(220, 174, 20);
                            transition: .2s;
                            font-size: 20px;
                            // margin-top: 10px;
                            font-family: lekton;
                        }
                        >span:nth-of-type(1){
                            margin-top: 10px;
                        }
                        >span:nth-of-type(2){
                            opacity: 0;
                        }
                    }
                }
                >.row:nth-of-type(3){
                    width: 100%;
                    justify-content: center;
                    margin-bottom: 30px;
                    // border: 1px solid black;
                    >a{
                        margin-top: 10px;
                        display: flex;
                        width: 200px;
                        height: 40px;
                        background-color: rgb(77, 115, 90);
                        border-radius: 50px;
                        flex-wrap: wrap;
                        &:hover>span:nth-of-type(1){
                            opacity: 0;
                            margin-top: 0;
                        }
                        &:hover>span:nth-of-type(2){
                            opacity: 1;
                            margin-top: -20px;
                        }
                        &:hover{
                            background-color: #5D0E07;
                        }
                        >span{
                            display: flex;
                            width: 100%;
                            height: 50%;
                            justify-content: center;
                            align-items: center;
                            color: rgb(220, 174, 20);
                            transition: .2s;
                            font-size: 20px;
                            // margin-top: 10px;
                            font-family: lekton;
                        }
                        >span:nth-of-type(1){
                            margin-top: 10px;
                        }
                        >span:nth-of-type(2){
                            opacity: 0;
                        }
                    }
                }
            }
        }
        >div:nth-of-type(5){
            width: 90%;
            min-height: 5vh;
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(220, 174, 20);
            font-size: 14px;
        }
    }
}